@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 14px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 13px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 12px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  line-height: 24px;
  color: $neutral-primary;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

h1 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $mainFontColor ;
}

h2 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $mainFontColor ;
}

h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $mainFontColor ;
}

a { text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section, .section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $lgDesktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  &__hello {
    color: blue;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $lgDesktopWidth;

  //@media screen and (max-width: $desktopWidth) {
  //  max-width: $desktopWidth;
  //}
  //@media screen and (max-width: $smDesktopWidth) {
  //  max-width: $smDesktopWidth;
  //}
  //@media screen and (max-width: $tableWidth) {
  //  max-width: $phoneWidth;
  //}
  //@media screen and (max-width: $phoneWidth) {
  //  max-width: $smPhoneWidth;
  //}
}

@import "modules/header";
@import "modules/footer";
@import "modules/copyright";

.btn-purple {
  background: $purple-gradient;
  color: $default-color;;
  &:hover {
    opacity: 0.5;
  }
  &-light {
    padding: 9px 21px;
    border: solid 2px transparent;
    background-image: linear-gradient(#fff, #fff), $purple-gradient;
    background-clip: padding-box, border-box;
    color: $purple-color;
    &:hover {
      opacity: 0.5;
    }
  }
}

.components {
  display: flex;
  margin: 5px;
  align-items: flex-end;
}


