.btn {
  display: inline-block;
  font-weight: 600;
  color: $mainFontColor;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  padding: 15px 20px;
  text-transform: uppercase;
  font-size: $buttonFontSize ;
  line-height: 1;
  border-radius: 22px;
  &:hover {
    text-decoration: none;
  }
}


.btn-purple {
  background: $purple-gradient;
  color: $neutral-primary;
  &:hover {
    opacity: 0.5;
  }
  &-light {
    padding: 13px 18px;
    border: solid 2px transparent;
    background-image: linear-gradient(#fff, #fff), $purple-gradient;
    background-clip: padding-box, border-box;
    color: $purple-color;
    &:hover {
      opacity: 0.5;
    }
  }
}
