section.copyright
  .container
    .copyright-wrapper
      .copyright-text
        p Copyright © 2018 Toxin отель. Все права зачищены.
      .copyright-socials
        i(class="fab fa-twitter social-bottom")
        i(class="fab fa-facebook-square social-bottom")
        i(class="fab fa-instagram social-bottom")