-
  mainMenu = [
    {text: 'Компоненты', href: '/components.html', dropdown: false},
    {text: 'о нас', href: '#', dropdown: false},
    {
      text: 'услуги', dropdown: true, dropdownMenu: [
        {text: 'hello', href: '#', dropdown: false},
      ]
    },
    // {text: 'вакансии', href: '#', dropdown: false},
    {text: 'новости', href: '#', dropdown: false},
    {
      text: 'соглашения', dropdown: true, dropdownMenu: [
        {text: 'bye', href: '#', dropdown: false},
      ]
    }
  ]

- dropdownIcon = 'expand_more'

header.header
  .container
    .header-wrapper
      .header-logo
        a(href='/')
          img(src='/assets/img/logo.svg').header-logo__img
      .header-menu-and-buttons-wrapper
        nav.header-menu
          +menu(mainMenu, dropdownIcon)
        .header-user-buttons
          +button('#','войти')(class="btn-purple-light header__button")
          +button('#','зарегистрироваться')(class="btn-purple header__button")
