extends ../layouts/main

block variables
  - title = 'Components'
  - buttonFigure = 'arrow_forward'

block content
  section
    .wrapper
        div.components
          span.components
            +button('#','click me')(class="btn-purple-light")
          span.components
            +button('#','click me')(class="btn-purple")
        div.components
          +button-with-figure('#','click me', buttonFigure)(class="btn-purple")
        div.components
          +input-text('just','Hello', 'Say me')
        div.components
          +input-text('email','Enter e-mail', 'E-mail', 'email')
          +input-text('pass','Enter pass', ' ', 'password')
        .components
          +input-text-with-figure('email', 'Email', 'Label')
          +input-text-with-figure('email', 'Email', ' ')