// px to rem
@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

@mixin size($width,$height: $width) {
  width: $width;
  height: $height;
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content
  }
  :-moz-placeholder {
    @content
  }
  ::-moz-placeholder {
    @content
  }
  :-ms-input-placeholder {
    @content
  }
}

.btn {
  display: inline-block;
  font-family: $mainFont;
  font-weight: 600;
  color: $mainFontColor;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  padding: 16px 21px;
  text-transform: uppercase;
  font-size: $buttonFontSize ;
  line-height: 1;
  border-radius: 22px;
  &:hover {
    text-decoration: none;
  }
  &--with-figure {
    position: relative;
    padding: 16px 100px;
    display: flex;
    align-items: center;
    &_figure {
      position: absolute;
      right:8px;
    }
  }
}

.main-menu {
  display: flex;
  @media screen and (max-width: $smDesktopWidth) {
    //padding-left: 5px;
    flex-direction: column;
  }
  &__item {
    list-style-type: none;
    padding-left: 20px;
    color: $neutral-regular;
    text-transform: uppercase;
    @media screen and (max-width: $desktopWidth) {
      padding-left: 10px;
    }

    @media screen and (max-width: $smDesktopWidth) {
      padding-left: 5px;
    }

    @media screen and (max-width: $tableWidth) {
      padding-left: 3px;
    }
    &-dropdown {
      display: block;
      position: relative;
      cursor: pointer;
      padding-right: 24px;
      &-icon {
        position: absolute;
        right:0;
      }
    }
  }
  &__link {
    color: $neutral-regular;
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: mediumpurple;
  min-height: 100px;
  max-width: 100px;
  &__item {

  }
  &__link {

  }
}

.input-text {
  $input-width: 260px;
  display: block;
  border: solid 1px $neutral-secondary;
  border-radius: 4px;
  height: 44px;
  width: $input-width;
  padding-left: 15px;
  &::placeholder {
    color: $neutral-placeholder;
    margin-left: 15px;
  }
  &__label {
    text-transform: uppercase;
    position: relative;
    color: $mainFontColor;
  }
  &:hover, &:focus {
    border-color: $neutral-regular ;
    &::placeholder {
      color: $neutral-regular ;
    }
  }

  &_with-figure {

    &:after {
      position: absolute;
      top: 30px;
      left: $input-width - 34px;
      background: $purple-gradient;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      @extend .material-icons;
      content: 'arrow_forward';
    }

    &_no-label {
      &:after {
        top: 24px;
      }
    }
  }
}

.footer-menu {

  &-wrapper {
    display: flex;
    justify-content: space-between;

  }

  &__column {
    //margin-right: 40px;
  }
  &__head {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    color: $mainFontColor;
    line-height: 15px;
    margin-bottom: 21px;
  }

  &__item {
    margin-bottom: 20px;
  }
  &__link {
    color: $neutral-regular;
  }
}





