// px to rem
@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

@mixin size($width,$height: $width) {
  width: $width;
  height: $height;
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content
  }
  :-moz-placeholder {
    @content
  }
  ::-moz-placeholder {
    @content
  }
  :-ms-input-placeholder {
    @content
  }
}

.btn {
  display: inline-block;
  font-family: $mainFont;
  font-weight: 600;
  color: $mainFontColor;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  padding: 16px 21px;
  text-transform: uppercase;
  font-size: $buttonFontSize ;
  line-height: 1;
  border-radius: 22px;
  &:hover {
    text-decoration: none;
  }
  &--with-figure {
    position: relative;
    padding: 16px 100px;
    display: flex;
    align-items: center;
    &_figure {
      position: absolute;
      right:8px;
    }
  }
}

.main-menu {
  display: flex;
  &__item {
    list-style-type: none;
    padding-left: 30px;
    color: $neutral-regular;
    text-transform: uppercase;
    &-dropdown {
      display: block;
      position: relative;
      cursor: pointer;
      padding-right: 24px;
      &-icon {
        position: absolute;
        right:0;
      }
    }
  }
  &__link {
    color: $neutral-regular;
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: mediumpurple;
  min-height: 100px;
  max-width: 100px;
  &__item {

  }
  &__link {

  }
}

.input-text {
  display: block;
  border: solid 1px $neutral-secondary;
  border-radius: 4px;
  height: 44px;
  width: 320px;
  padding-left: 15px;
  &::placeholder {
    color: $neutral-placeholder;
    margin-left: 15px;
  }
  &__label {
    text-transform: uppercase;
    color: $mainFontColor;
  }
  &:hover, &:focus {
    border-color: $neutral-regular ;
    &::placeholder {
      color: $neutral-regular ;
    }
  }
}






