include ../utils/mixins




block variables

doctype html
html(lang='en')


head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title #{title}
    script(src="https://kit.fontawesome.com/6010380c4a.js" crossorigin="anonymous")
    block head
    body
      .wrapper
        include ../includes/modules/header
        block content

        include ../includes/modules/footer
        include ../includes/modules/copyright

    block script


